# Splitting Data Into Train And Test
The dataset is already download in .csv format

# IMPORTING THE PACKAGE

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Load the dataset

In [2]:
df=pd.read_csv("C:/Users/swake/Desktop/IBM project/loan_prediction.csv")

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.shape

(614, 13)

# Handle the Missing values

In [5]:
#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# Treating the Null Value<br>
We will fill the missing values in numeric data type using the mean value of that particular column and categorical data type using the most repeated value

In [6]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [7]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [8]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [9]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [10]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [11]:
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [12]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Handle the Missing values

In [13]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [14]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [15]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [16]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [17]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [18]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [19]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [20]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [21]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [22]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [23]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [24]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [25]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [26]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [27]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [28]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [29]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [30]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

In [31]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [32]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

# Balancing The Dataset

In [33]:
from imblearn.combine import SMOTETomek

In [34]:
smote = SMOTETomek(0.90)

In [35]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [36]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [37]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    367
0    324
Name: Loan_Status, dtype: int64

# Scaling The Data

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [40]:
x_bal = pd.DataFrame(x_bal)

In [41]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.782138,0.53104,-1.189993,-0.704194,0.591278,-0.335740,0.077344,-0.547035,-0.293141,0.298086,0.606891,1.350139
1,-1.776341,0.53104,0.840341,0.340008,0.591278,-0.335740,-0.139563,0.003648,-0.195592,0.298086,0.606891,-1.209384
2,-1.770544,0.53104,0.840341,-0.704194,0.591278,2.978494,-0.410784,-0.547035,-0.951596,0.298086,0.606891,1.350139
3,-1.764747,0.53104,0.840341,-0.704194,-1.691253,-0.335740,-0.482230,0.314046,-0.293141,0.298086,0.606891,1.350139
4,-1.758950,0.53104,-1.189993,-0.704194,0.591278,-0.335740,0.103216,-0.547035,-0.037075,0.298086,0.606891,1.350139

We will perform scaling only on the input values

# Splitting Data Into Train And Test

In [42]:
# splitting the data into training and testing set

from sklearn.model_selection import train_test_split

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [44]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(462, 12)
(462,)
(229, 12)
(229,)

In [45]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11
137,-0.854644,0.53104,0.840341,-0.704194,-1.691253,-0.33574,-0.605589,-0.166888,-0.561401,0.298086,0.606891,0.070378
363,0.733690,0.53104,-1.189993,-0.704194,0.591278,-0.33574,-0.282284,-0.547035,-0.537013,0.298086,0.606891,1.350139
328,0.484426,0.53104,0.840341,2.428412,0.591278,-0.33574,0.703567,-0.547035,1.596870,0.298086,0.606891,-1.209384
33,-1.538670,0.53104,0.840341,-0.704194,0.591278,-0.33574,-0.513584,-0.547035,-0.841854,0.298086,0.606891,1.350139
428,1.145266,0.53104,0.840341,1.384210,0.591278,-0.33574,-0.323404,1.065575,1.206674,0.298086,0.606891,-1.209384
...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1.289406,0.53104,-1.189993,-0.704194,0.591278,-0.33574,-0.519409,0.377221,-0.098043,0.298086,0.606891,0.070378
106,-1.063330,0.53104,0.840341,-0.704194,-1.691253,-0.33574,-0.188051,0.188426,0.609187,0.298086,0.606891,-1.209384
270,0.049663,0.53104,0.840341,1.384210,0.591278,-0.33574,-0.287938,-0.547035,-0.293141,0.298086,0.606891,0.070378
435,1.185843,0.53104,0.840341,1.384210,0.591278,-0.33574,-0.362296,0.196095,0.048280,0.298086,0.606891,1.350139
102,-1.086517,0.53104,0.840341,-0.704194,0.591278,-0.33574,0.046162,0.426885,0.438476,0.298086,0.606891,-1.209384

In [46]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11
380,0.855424,0.531040,0.840341,1.384210,0.591278,-0.33574,-0.263609,-0.547035,-0.585788,0.298086,0.606891,0.070378
675,1.145266,0.531040,-1.189993,-0.704194,-1.691253,-0.33574,-0.303529,-0.063909,-0.500433,0.298086,-1.647742,-1.209384
257,-0.048883,0.531040,0.840341,0.340008,0.591278,-0.33574,-0.579718,0.521100,-0.378496,0.298086,0.606891,1.350139
338,0.577175,-1.883097,-1.189993,-0.704194,-1.691253,-0.33574,-0.545623,-0.547035,-0.951596,0.298086,0.606891,-1.209384
319,0.409067,0.531040,-1.189993,-0.704194,0.591278,-0.33574,-0.398962,-0.547035,-0.890628,2.149983,0.606891,1.350139
...,...,...,...,...,...,...,...,...,...,...,...,...
234,-0.182210,0.531040,0.840341,-0.704194,0.591278,-0.33574,-0.240650,0.648546,0.767704,0.298086,0.606891,0.070378
645,0.269943,-1.883097,0.840341,-0.704194,0.591278,-0.33574,-0.182397,0.348007,-0.415077,0.298086,0.606891,1.350139
271,0.055460,0.531040,0.840341,-0.704194,0.591278,-0.33574,-0.572179,0.232247,-0.683337,0.298086,0.606891,1.350139
606,0.391677,-1.883097,-1.189993,-0.704194,-1.691253,-0.33574,-0.130140,-0.547035,-0.597981,0.298086,0.606891,-1.209384
286,0.165600,0.531040,0.840341,0.340008,0.591278,-0.33574,-0.025284,-0.295795,0.194604,0.298086,0.606891,-1.209384

In [47]:
y_train

137    1
363    1
328    1
33     1
428    1
      ..
71     1
106    1
270    1
435    1
102    1
Name: Loan_Status, Length: 462, dtype: int64

In [48]:
y_test

380    1
675    0
257    0
338    1
319    0
      ..
234    1
645    0
271    1
606    0
286    1
Name: Loan_Status, Length: 229, dtype: int64